[submodule "scad/lib/MCAD"]
	path = scad/lib/MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "scad/lib/FreeCAD-library"]
	path = scad/lib/FreeCAD-library
	url = https://github.com/FreeCAD/FreeCAD-library.git
[submodule "scad/lib/Write.scad"]
	path = scad/lib/Write.scad
	url = ../Write.scad
[submodule "scad/lib/openscad-slicer-makefile"]
	path = scad/lib/openscad-slicer-makefile
	url = ../openscad-slicer-makefile.git
